@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  display: flex;

  & > .logo {
    color: blue;

    &.redLogo {
      color: red;
    }
  }

  & > nav {
    background-color: bisque;

    & > ul {
      display: flex;
      margin: 0;
      padding: 0;
      gap: 1rem;
    }
  }
}
